node_modules
cypress/videos
cypress/screenshots
cypress/downloads
reports/
allure-results
runner-results
mochawesome-report
cypress/logs
.idea
cucumber-messages.ndjson
cucumber-report.html
